/* https://coolors.co/222222-5c6b73-9db4c0-e1eaef-ec4e20 */
:root {
    --colour-1: #222222;
    --colour-2: #5c6b73;
    --colour-3: #9db4c0;
    --colour-4: #e1eaef;
    --colour-5: #ec4e20;
}

*,
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--colour-1);
	color: var(--colour-4);
    font-family: 'PT Sans';
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

/* ---------------------------------------------------------- */
/* Forms                                                      */
/* ---------------------------------------------------------- */

input[type="text"] {
	border: 0;
	font-size: 14px;
	padding: 10px;
}

.button,
button {
	background-color: var(--colour-5);
	border: 0;
	color: var(--colour-4);
	font-size: 14px;
	padding: 10px;
}