.app {
	display: flex;
	flex-direction: column;
}

.app__header {
	background-color: var(--colour-2);
	color: var(--colour-4);
	flex: 1;
	width: 100%;
}

.app_body {
	display: flex;
	flex: 1;
	width: 100%;
}

.app__body__results {
	flex: 1;
	padding: 30px;
	width: 50%;
}

.app__body__player {
	flex: 1;
	padding: 30px;
	width: 50%;
}
